<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="MyConnection"
			connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=AdventureWorks2019;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
